<router-outlet></router-outlet>

<!-- grid
<div>
  <div class="flex">
    <div class="bg-green-500 w-1/6 text-white text-center text-xs">w-1/6</div>
    <div class="bg-red-500 w-1/6 text-white text-center text-xs">w-1/6</div>
    <div class="bg-green-500 w-1/6 text-white text-center text-xs">w-1/6</div>
    <div class="bg-red-500 w-1/6 text-white text-center text-xs">w-1/6</div>
    <div class="bg-green-500 w-1/6 text-white text-center text-xs">w-1/6</div>
    <div class="bg-red-500 w-1/6 text-white text-center text-xs">w-1/6</div>
  </div>
  <div class="flex">
    <div class="bg-green-500 w-1/5 text-white text-center text-xs">w-1/5</div>
    <div class="bg-red-500 w-1/5 text-white text-center text-xs">w-1/5</div>
    <div class="bg-green-500 w-1/5 text-white text-center text-xs">w-1/5</div>
    <div class="bg-red-500 w-1/5 text-white text-center text-xs">w-1/5</div>
    <div class="bg-green-500 w-1/5 text-white text-center text-xs">w-1/5</div>
  </div>
  <div class="flex">
    <div class="bg-green-500 w-1/4 text-white text-center text-xs">w-1/4</div>
    <div class="bg-red-500 w-1/4 text-white text-center text-xs">w-1/4</div>
    <div class="bg-green-500 w-1/4 text-white text-center text-xs">w-1/4</div>
    <div class="bg-red-500 w-1/4 text-white text-center text-xs">w-1/4</div>
  </div>
  <div class="flex">
    <div class="bg-green-500 w-1/3 text-white text-center text-xs">w-1/3</div>
    <div class="bg-red-500 w-1/3 text-white text-center text-xs">w-1/3</div>
    <div class="bg-green-500 w-1/3 text-white text-center text-xs">w-1/3</div>
  </div>
  <div class="flex">
    <div class="bg-green-500 w-1/2 text-white text-center text-xs">w-1/2</div>
    <div class="bg-red-500 w-1/2 text-white text-center text-xs">w-1/2</div>
  </div>
</div>

<button
  class="
  py-2
  px-4
  border
  border-transparent
  shadow-sm
  text-sm
  font-medium
  text-white
  md:bg-blue-400
  bg-red-400"
>
CLICK
</button>

<div class="text-5xl flex flex-wrap justify-around border border-cyan-600">
  <div class="first-letter:text-red-800">TEXT</div>
  <div class="text-red-400">TEXT</div>
  <div class="bg-red-400 text-white">TEXT</div>
</div>

<div>
  <div class="bg-green-500 sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5 text-white">sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5</div>
</div>

<div>
  <div class="bg-blue-500 p-3 text-white">padding p-0(0px) p-px(1px) p-0.5(2px) p-1(4px)</div>
  <div class="bg-blue-500 p-[3px] text-white">p-[100px]</div>
  <div class="bg-blue-500 m-3 text-white">margin m-0(0px) m-px(1px) m-0.5(2px) m-1(4px)</div>
  <div class="bg-blue-500 p-5 rounded-md text-white">border-radius</div>
</div> -->
